$color-link: #508acd;
$color-pink: #e9b5c4;
$color-dusty-pink: #cf7c81;
$color-red: #b64947;
$color-light-pink: #fadcdc;
$color-brown: #9c5555;
$color-dusty-orange: #d57a74;
$color-white: #fff7ea;
$color-cream: #ffddd2;
$color-peach: #fec3b6;
$color-black: #3a2d31;
$color-border: #755B62;
$color-banner: #9b5d61;
$color-page: #F4d9E1;
$bg-image: url('assets/background.png');

$page-width: 980px;

$test-var-width: 300px;